datatype_config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="datatypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="type" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="qualified_name" type="xs:string" />
							<xs:element name="prefix" type="xs:string" />
							<xs:element name="suffix" type="xs:string" />
							<xs:element name="import" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
